<form clrForm clrLayout="vertical">
  <clr-select-container>
    <label>Subreddit</label>
    <select clrSelect name="subreddit" [(ngModel)]="companyForm.subreddit">
      <option value="r/WallStreetBets">WallStreetBets</option>
      <option value="r/PennyStocks">PennyStocks</option>
      <option value="r/WeedStocks">WeedStocks</option>
      <option value="r/Stocks">Stocks</option>
      <option value="r/Investing">Investing</option>
    </select>
  </clr-select-container>
  <clr-select-container>
    <label>Exchange</label>
    <select clrSelect name="exchange" [(ngModel)]="companyForm.exchange">
      <option value="NASDAQ">NASDAQ</option>
      <option value="NYSE">NYSE</option>
      <option value="OTC">OTC</option>
      <option value="TSX">TSX</option>
      <option value="TSXV">TSXV</option>
      <option value="CSE">CSE</option>
    </select>
  </clr-select-container>
  <clr-datalist-container>
    <label>Company</label>
    <input
      clrDatalistInput
      placeholder="Company name"
      name="company"
      [(ngModel)]="companyForm.company"
      required
    />
    <datalist>
      <option *ngFor="let company of companies" [value]="company"></option>
    </datalist>
  </clr-datalist-container>
  <button class="btn btn-primary" (click)="updateForm()">Update</button>
</form>
